<div class="row">
  <div
    class="col-md-3 mb-5 animate__animated animate__fadeIn"
    *ngFor="let movie of movies"
  >
    <img
      [src]="movie.poster_path | poster"
      alt="Movie´s poster"
      class="img-fluid poster"
      (click)="onMovieClick(movie)"
    />
    <div>
      <h3>{{ movie.title }}</h3>
      <div class="row">
        <star-rating
          [value]="movie.vote_average"
          [totalstars]="totalStars"
          checkedcolor="yellow"
          uncheckedcolor="grey"
          size="14px"
          [readonly]="readOnly"
        ></star-rating>
        <div class="col-2 text-white">
          {{ movie.vote_average | number: "1.1-2" }}
        </div>
      </div>
    </div>
  </div>
</div>
